<a href="https://colab.research.google.com/github/JangJiYeon12/Dementia_app/blob/main/Section3Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import io

In [ ]:
train_x = pd.read_csv('/content/train.csv')
train_y = pd.read_csv('/content/train_label.csv', index_col=0)

In [ ]:
train_x

,EMAIL,summary_date,activity_average_met,activity_cal_active,activity_cal_total,activity_class_5min,activity_daily_movement,activity_high,activity_inactive,activity_inactivity_alerts,...,sleep_temperature_delta,sleep_temperature_deviation,sleep_temperature_trend_deviation,timezone,sleep_total,CONVERT(activity_class_5min USING utf8),CONVERT(activity_met_1min USING utf8),CONVERT(sleep_hr_5min USING utf8),CONVERT(sleep_hypnogram_5min USING utf8),CONVERT(sleep_rmssd_5min USING utf8)
0,nia+404@rowan.kr,2020-11-27,1.71875,730,2944,...,14346,0,417,0,...,-0.12,-0.12,99.99,NaN,\r,2/1/1/1/1/1/2/2/1/1/1/1/1/1/2/2/2/3/2/2/2/2/2/...,0.9/0.9/1.4/1.9/1.1/0.9/0.9/1.1/1.3/1/0.9/1.1/...,0/73/73/73/72/71/70/71/71/71/70/70/73/72/74/74...,4/2/4/3/3/1/2/2/2/2/2/2/3/3/3/4/4/3/2/2/2/2/2/...,0/10/10/10/11/11/10/12/18/13/14/12/10/10/18/17...
1,nia+404@rowan.kr,2020-11-28,1.40625,342,2449,...,6352,0,473,0,...,-0.32,-0.32,99.99,NaN,\r,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/2/2/2/2/2/2/...,1.2/1.1/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....,69/70/69/69/70/72/71/72/70/69/69/69/68/68/63/6...,2/4/2/2/2/2/3/1/2/2/4/4/2/2/2/2/2/2/2/2/2/2/4/...,23/23/26/24/18/13/15/14/17/20/24/30/23/25/22/1...
2,nia+404@rowan.kr,2020-11-29,1.46875,401,2544,...,7297,0,586,0,...,0.07,0.07,99.99,NaN,\r,1/1/1/1/1/1/1/2/1/1/1/1/2/2/2/2/2/1/1/1/1/1/2/...,1.1/1.1/1.2/1.1/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....,0/74/73/73/74/74/74/71/71/70/70/69/70/68/66/69...,4/2/4/4/1/1/1/4/4/4/4/4/4/4/2/3/4/2/2/4/2/2/2/...,0/11/14/20/13/14/14/16/27/29/27/20/19/19/14/12...
3,nia+404@rowan.kr,2020-11-30,0.34375,27,1850,...,491,0,176,0,...,-0.41,-0.41,99.99,NaN,\r,2/1/2/2/1/2/1/1/2/1/1/1/1/1/2/1/1/1/1/1/2/2/2/...,0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/...,73/70/71/72/75/75/73/70/70/70/67/63/63/63/63/6...,4/4/4/4/3/3/3/2/4/4/4/2/2/2/2/2/2/2/2/4/2/2/2/...,24/28/19/17/12/10/17/20/23/23/25/31/26/25/34/3...
4,nia+404@rowan.kr,2020-12-01,1.46875,333,2518,...,5861,0,646,0,...,-0.27,-0.27,99.99,NaN,\r,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/2/2/3/3/2/...,0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....,0/0/0/0/0/0/0/0/69/69/71/69/65/66/64/64/65/66/...,4/4/4/4/4/4/4/4/4/4/4/2/2/2/2/3/3/2/4/4/4/2/2/...,0/0/0/0/0/0/0/0/21/22/26/23/19/29/22/17/14/13/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9322,nia+206@rowan.kr,2020-12-22,1.34375,227,2316,...,3863,3,735,2,...,-0.16,-0.16,99.99,NaN,\r,2/1/1/2/2/1/1/1/1/2/2/3/2/1/1/1/1/1/1/1/1/1/1/...,1.1/1.4/1.2/0.9/1.2/1.1/0.9/0.9/0.9/1/0.9/0.9/...,0/54/54/54/55/56/0/0/55/52/52/53/54/54/56/57/6...,4/4/4/2/2/2/2/4/2/2/2/1/1/1/1/4/2/2/3/3/3/3/3/...,0/35/39/28/26/41/0/0/52/31/27/30/21/22/27/40/3...
9323,nia+206@rowan.kr,2020-12-24,1.34375,249,2351,...,4411,1,780,4,...,-0.09,-0.09,99.99,NaN,\r,1/1/1/1/1/1/1/1/1/1/2/3/2/2/2/1/1/1/1/1/1/1/1/...,0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....,68/66/67/67/68/69/69/70/71/71/71/69/72/70/70/7...,4/4/2/2/2/1/1/1/1/1/1/2/2/3/3/2/2/2/2/2/3/4/2/...,26/16/19/18/16/18/19/17/15/16/15/13/11/13/13/1...
9324,nia+206@rowan.kr,2020-12-26,1.53125,570,2682,...,11057,1,518,1,...,0.41,0.41,99.99,NaN,\r,1/1/1/1/1/1/2/2/2/2/2/2/1/1/1/1/1/1/1/1/1/1/1/...,0.9/0.9/0.9/0.9/1.1/0.9/0.9/1.1/0.9/0.9/0.9/0....,0/0/65/65/66/67/69/72/73/72/73/74/73/74/75/75/...,4/4/2/2/2/2/2/2/2/2/2/2/4/4/4/4/2/3/3/3/2/2/4/...,0/0/13/12/12/13/12/12/12/16/13/12/13/17/13/18/...
9325,nia+206@rowan.kr,2020-12-27,1.34375,295,2331,...,5135,4,578,0,...,0.27,0.27,99.99,NaN,\r,1/1/1/2/3/2/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,1.1/0.9/0.9/0.9/1/0.9/0.9/0.9/0.9/0.9/0.9/0.9/...,0/0/0/64/64/64/64/65/65/66/66/66/66/68/68/68/6...,4/4/4/4/2/2/2/2/2/2/2/2/2/3/3/3/3/2/4/4/2/2/2/...,0/0/0/14/17/18/14/14/17/15/17/12/17/12/13/12/1...
9326,nia+206@rowan.kr,2020-12-28,1.31250,186,2280,...,3178,0,778,1,...,-0.05,-0.05,99.99,NaN,\r,1/1/1/1/1/1/1/1/1/1/1/1/2/2/0/0/0/0/0/0/0/0/0/...,0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....,0/60/60/61/60/60/60/62/64/64/64/64/65/68/70/70...,4/4/1/2/2/2/2/1/2/2/2/1/1/1/3/3/1/1/2/2/3/3/3/...,0/14/15/14/15/16/17/16/16/18/18/20/23/15/21/20...

In [ ]:
#drop colnums

train_x1 = train_x[['EMAIL', 'activity_steps', 'activity_high', 'sleep_duration', 'sleep_light', 'sleep_midpoint_time', 'sleep_deep', 'sleep_restless', 'sleep_score', 'sleep_hr_average']]

In [ ]:
train_x1

,EMAIL,activity_steps,activity_high,sleep_duration,sleep_light,sleep_midpoint_time,sleep_deep,sleep_restless,sleep_score,sleep_hr_average
0,nia+404@rowan.kr,15867,0,35460,15030,17280,2100,47,62,70.53
1,nia+404@rowan.kr,7755,0,24720,12210,11490,2430,56,54,68.01
2,nia+404@rowan.kr,8341,0,33240,15780,17460,2820,48,61,64.89
3,nia+404@rowan.kr,8122,0,29700,16350,15750,1770,59,55,63.70
4,nia+404@rowan.kr,7378,0,31440,14010,17220,3150,42,56,67.07
...,...,...,...,...,...,...,...,...,...,...
9322,nia+206@rowan.kr,4453,3,32760,18210,16110,2640,57,76,60.21
9323,nia+206@rowan.kr,4972,1,33360,19320,16680,1710,52,77,63.75
9324,nia+206@rowan.kr,11878,1,27720,16140,14070,0,57,65,67.40
9325,nia+206@rowan.kr,5752,4,35460,22170,17490,480,52,81,64.84
9326,nia+206@rowan.kr,3852,0,27840,17880,14040,2220,48,79,67.05

In [ ]:
#groupby by EMAIL

train_x2 = train_x1.groupby(['EMAIL'], as_index=True).mean()

In [ ]:
train_x2

,activity_steps,activity_high,sleep_duration,sleep_light,sleep_midpoint_time,sleep_deep,sleep_restless,sleep_score,sleep_hr_average
EMAIL,,,,,,,,,
nia+003@rowan.kr,4556.758065,0.806452,30755.806452,15521.612903,15334.354839,4319.032258,39.967742,68.112903,58.026290
nia+005@rowan.kr,6303.035294,0.094118,30123.529412,16334.117647,15113.294118,6213.529412,29.258824,84.752941,65.240706
nia+010@rowan.kr,5814.942308,0.557692,26890.384615,12666.346154,13310.769231,2995.961538,33.826923,65.076923,53.168269
nia+013@rowan.kr,10896.752688,0.720430,26532.258065,12925.806452,13546.451613,7600.967742,25.516129,74.935484,50.784516
nia+015@rowan.kr,7169.885714,2.057143,27812.571429,13726.285714,14093.142857,7847.142857,33.885714,71.857143,54.004000
...,...,...,...,...,...,...,...,...,...
nia+448@rowan.kr,6034.777778,2.027778,28633.333333,13667.500000,14475.833333,1981.666667,55.694444,52.722222,70.991389
nia+450@rowan.kr,12523.865385,10.115385,27072.692308,13006.153846,12860.769231,5691.923077,33.846154,74.076923,53.810385
nia+456@rowan.kr,12258.562500,6.270833,28631.250000,11908.750000,15021.875000,5223.750000,36.895833,60.333333,65.457500
nia+458@rowan.kr,4582.425000,0.600000,36225.000000,16150.500000,19417.500000,5937.000000,26.075000,81.550000,67.272750
nia+475@rowan.kr,7436.413043,0.108696,23512.173913,11130.000000,12142.826087,6759.130435,36.500000,63.978261,55.763478

In [ ]:
size_mapping = {'CN':0,'MCI':1,'Dem':2}
train_y['DIAG_NM'] = train_y['DIAG_NM'].map(size_mapping)

train_y

                  DIAG_NM
SAMPLE_EMAIL
nia+315@rowan.kr        0
nia+220@rowan.kr        0
nia+096@rowan.kr        1
nia+163@rowan.kr        0
nia+396@rowan.kr        0
...                   ...
nia+394@rowan.kr        0
nia+067@rowan.kr        2
nia+013@rowan.kr        1
nia+450@rowan.kr        0
nia+287@rowan.kr        2

[148 rows x 1 columns]

In [ ]:
data = pd.merge(train_x2, train_y, left_index=True, right_index=True)

In [ ]:
data.round(0)

,activity_steps,activity_high,sleep_duration,sleep_light,sleep_midpoint_time,sleep_deep,sleep_restless,sleep_score,sleep_hr_average,DIAG_NM
nia+003@rowan.kr,4557.0,1.0,30756.0,15522.0,15334.0,4319.0,40.0,68.0,58.0,1
nia+005@rowan.kr,6303.0,0.0,30124.0,16334.0,15113.0,6214.0,29.0,85.0,65.0,0
nia+010@rowan.kr,5815.0,1.0,26890.0,12666.0,13311.0,2996.0,34.0,65.0,53.0,1
nia+013@rowan.kr,10897.0,1.0,26532.0,12926.0,13546.0,7601.0,26.0,75.0,51.0,1
nia+015@rowan.kr,7170.0,2.0,27813.0,13726.0,14093.0,7847.0,34.0,72.0,54.0,0
...,...,...,...,...,...,...,...,...,...,...
nia+448@rowan.kr,6035.0,2.0,28633.0,13668.0,14476.0,1982.0,56.0,53.0,71.0,1
nia+450@rowan.kr,12524.0,10.0,27073.0,13006.0,12861.0,5692.0,34.0,74.0,54.0,0
nia+456@rowan.kr,12259.0,6.0,28631.0,11909.0,15022.0,5224.0,37.0,60.0,65.0,0
nia+458@rowan.kr,4582.0,1.0,36225.0,16150.0,19418.0,5937.0,26.0,82.0,67.0,0
nia+475@rowan.kr,7436.0,0.0,23512.0,11130.0,12143.0,6759.0,36.0,64.0,56.0,0

In [ ]:
data = data.astype(int)

In [ ]:
data

,activity_steps,activity_high,sleep_duration,sleep_light,sleep_midpoint_time,sleep_deep,sleep_restless,sleep_score,sleep_hr_average,DIAG_NM
nia+003@rowan.kr,4556,0,30755,15521,15334,4319,39,68,58,1
nia+005@rowan.kr,6303,0,30123,16334,15113,6213,29,84,65,0
nia+010@rowan.kr,5814,0,26890,12666,13310,2995,33,65,53,1
nia+013@rowan.kr,10896,0,26532,12925,13546,7600,25,74,50,1
nia+015@rowan.kr,7169,2,27812,13726,14093,7847,33,71,54,0
...,...,...,...,...,...,...,...,...,...,...
nia+448@rowan.kr,6034,2,28633,13667,14475,1981,55,52,70,1
nia+450@rowan.kr,12523,10,27072,13006,12860,5691,33,74,53,0
nia+456@rowan.kr,12258,6,28631,11908,15021,5223,36,60,65,0
nia+458@rowan.kr,4582,0,36225,16150,19417,5937,26,81,67,0
nia+475@rowan.kr,7436,0,23512,11130,12142,6759,36,63,55,0

In [ ]:
# pip uninstall pandas_profiling

In [ ]:
# pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

In [ ]:
# import pandas_profiling

# profile = data.profile_report()
# profile

In [ ]:
 def to_min(x):
     x = x / 60
     return round(x)

In [ ]:
sleep_data = data.filter(regex='sleep_')

sleep_hr = sleep_data[['sleep_restless', 'sleep_hr_average', 'sleep_score']]

sleep_data = sleep_data.drop(['sleep_restless', 'sleep_hr_average', 'sleep_score'], axis = 1)

activity_data = data.filter(regex='activity_')

In [ ]:
sleep_data = sleep_data.apply(to_min).astype(int)

In [ ]:
df1 = pd.merge(activity_data, sleep_data, left_index=True, right_index=True)

In [ ]:
df1 = pd.merge(df1, sleep_hr, left_index=True, right_index=True)

In [ ]:
df1

,activity_steps,activity_high,sleep_duration,sleep_light,sleep_midpoint_time,sleep_deep,sleep_restless,sleep_hr_average,sleep_score
nia+003@rowan.kr,4556,0,513,259,256,72,39,58,68
nia+005@rowan.kr,6303,0,502,272,252,104,29,65,84
nia+010@rowan.kr,5814,0,448,211,222,50,33,53,65
nia+013@rowan.kr,10896,0,442,215,226,127,25,50,74
nia+015@rowan.kr,7169,2,464,229,235,131,33,54,71
...,...,...,...,...,...,...,...,...,...
nia+448@rowan.kr,6034,2,477,228,241,33,55,70,52
nia+450@rowan.kr,12523,10,451,217,214,95,33,53,74
nia+456@rowan.kr,12258,6,477,198,250,87,36,65,60
nia+458@rowan.kr,4582,0,604,269,324,99,26,67,81
nia+475@rowan.kr,7436,0,392,186,202,113,36,55,63

In [ ]:
from sklearn.model_selection import train_test_split

target = 'DIAG_NM'
features = df1.columns

X_train, X_test, y_train, y_test = train_test_split(df1, train_y, stratify=train_y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import model_selection
from sklearn import metrics

model = LogisticRegression(solver='liblinear')

In [ ]:
model.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(solver='liblinear')

In [ ]:
y_pred_ord = model.predict(X_test)

In [ ]:
print('TrainData Accuracy : ', "{:.5f}".format(model.score(X_train, y_train)))
print('TestData Accuracy : ', "{:.5f}".format(model.score(X_test, y_test)))

TrainData Accuracy :  0.66102
TestData Accuracy :  0.66667

In [ ]:
import pickle
filename = 'finalized_model.pkl'
pickle.dump(model, open(filename, 'wb'))

In [ ]:
df1.describe()

,activity_steps,activity_high,sleep_duration,sleep_light,sleep_midpoint_time,sleep_deep,sleep_restless,sleep_hr_average,sleep_score
count,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000
mean,10534.891892,2.614865,486.432432,245.533784,244.587838,83.804054,36.209459,60.027027,72.162162
std,4411.902450,5.254766,67.090269,46.344380,34.858885,32.266884,9.591134,6.755140,7.861950
min,1683.000000,0.000000,276.000000,152.000000,134.000000,8.000000,16.000000,38.000000,51.000000
25%,7458.500000,0.000000,445.750000,215.000000,224.000000,58.750000,29.000000,55.000000,67.000000
50%,10031.500000,1.000000,477.500000,240.500000,241.000000,83.500000,35.000000,60.000000,73.000000
75%,13047.250000,2.250000,518.250000,276.000000,260.000000,106.000000,43.000000,65.000000,78.000000
max,28393.000000,36.000000,730.000000,414.000000,382.000000,178.000000,56.000000,80.000000,91.000000

In [ ]:
df2 = pd.merge(df1, train_y, left_index=True, right_index=True)

In [ ]:
df2.to_csv("/content/realdata.csv")